@import"mix.scss";
@import"var.scss";
@include desktop {
    html {
        font-size: 13px;
    }
}

@include laptop {
    html {
        font-size: 10px;
    }
}

@include tablet {
    html {
        font-size: 7px;
    }
}

@include tablet-mini {
    html {
        font-size: 18px;
    }
    .container {
        width: 100%;
    }
    .icons {
        width: rem(80);
        height: rem(85);
    }
    .top {
        justify-content: space-around;
        &-text {
            display: none;
            &-mini {
                display: block;
            }
        }
    }
    .prev {
        display: flex;
        flex-direction: column;
        &-right {
            width: rem(330);
        }
    }
    .block-age {}
    .text-age {
        @include fonts(700, 16, 28, $white);
        text-align: center;
        width: 95%;
    }
    .videos {
        flex-direction: column;
    }
    .title-age {
        font-size: 49px;
    }
    .cong {
        &-title {
            font-size: 49px;
            text-align: center;
        }
    }
    .footer {
        &-text {
            @include fonts(700, 24, 58, $white);
        }
    }
}

@include mobile {
    html {
        font-size: 16px;
    }
    .prev {
        &-right {}
    }
    .cong {
        &-title {
            font-size: 45px;
        }
    }
}

@include mobile-mini {
    html {
        font-size: 14px;
    }
}